@model Tickets_Bus.Models.Route_

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Route_</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date_departure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_departure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_arrival)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_arrival)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Driver.FirstLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver.FirstLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Station.Name_Station)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Station.Name_Station)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Station1.Name_Station)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Station1.Name_Station)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "ShowRouts", new { id = Model.ID_Route }) |
    @Html.ActionLink("Back to List", "Index")
</p>
