@model IEnumerable<Tickets_Bus.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numb_Seat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name_Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Sale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Route_.ID_Route)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Station.Name_Station)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Station1.Name_Station)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Numb_Seat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name_Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Sale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Route_.ID_Route)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Station1.Name_Station)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Station.Name_Station)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Ticket }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Ticket }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Ticket })
        </td>
    </tr>
}

</table>
