@*@using Tickets_Bus.Models
@model List<RouteViewModel>*@   
@model IQueryable<IGrouping<Tickets_Bus.Models.Route_, Tickets_Bus.Models.Ticket>>

@{
    ViewBag.Title = "Звіт про кількість проданих квитків на окремий рейс";
}
@*@Html.ActionLink("Побудувати новий звіт", "Details_Ticket")<br>*@
<h3>Звіт про кількість проданих квитків на певний рейс </h3>
<h4> Інформація про рейс</h4>
@foreach (var key in Model)
    {
        <div>
            <dl class="dl-horizontal">
                <dt>
                    Рейс:
                </dt>
                <dd>
                    @Html.DisplayFor(route => key.Key.ID_Route)
                    @Html.DisplayFor(route => key.Key.Station1.Name_Station)
                    @Html.DisplayFor(route => key.Key.Station.Name_Station)
                </dd>
                <dt> Дата:</dt>
                <dd>@ViewBag._Daate</dd>
                <dt>
                    Час:відправлення
                        прибуття
                </dt>
                <dd>
                    @Html.DisplayFor(route => key.Key.Date_departure) <br/>
                    @Html.DisplayFor(route => key.Key.Date_arrival)
                </dd>
                <dt>
                    ПІБ Водія:
                </dt>
                <dd>
                    @Html.DisplayFor(route => key.Key.Driver.FirstLastName)
                </dd>
                <dt>
                    Модель Атобуса:
                </dt>
                <dd>
                    @Html.DisplayFor(route => key.Key.Driver.BUS.Name_Bus)
                </dd>
                <dt>
                    Номерний знак:
                </dt>
                <dd>
                    @Html.DisplayFor(route => key.Key.Driver.BUS.Number_Bus)
                </dd>
                <dt>
                    Кількість місць:
                </dt>
                <dd>
                    @Html.DisplayFor(route => key.Key.Driver.BUS.Num_Seats)
                </dd>
                <dt>
                    Дата останього ТО:
                </dt>
                <dd>
                    @Html.DisplayFor(route => key.Key.Driver.BUS.Date_LastTO)
                </dd>
                <dt>
                    Надійність:
                </dt>
                <dd>
                    @Html.DisplayFor(route => key.Key.Driver.BUS.Reliability)
                </dd>
            </dl>
        </div>    
    }
<h4> Інформація про продані квитки</h4>
<table class="table">
    <tr>
        <th>
            Номер квитка
        </th>
        <th>
            Місце посадки
        </th>
        <th>
            Пасажир
        </th>
        <th>
            Ціна
        </th>

    </tr>

    @foreach (var key in Model)
    {
        <a> <h4>Кількість проданих квитків: @key.Count() </h4> </a>
            @*<tr>
                <td>
                @Html.DisplayFor(route => key.Key.ID_Route)
            </td>
            <td>
                @Html.DisplayFor(route => key.Key.Driver.BUS.Name_Bus)
                @Html.DisplayFor(route => key.Key.Driver.BUS.Number_Bus)

            </td>
                <td>
                    @Html.DisplayFor(route => )
                </td>
        </tr>*@
        foreach (var item in key)
        {
            <tr>
                <td>
                    @Html.DisplayFor(route => item.ID_Ticket)
                </td>
                <td>
                    @Html.DisplayFor(route => item.Numb_Seat)
                </td>
                <td>
                    @Html.DisplayFor(route => item.Name_Surname)
                </td>
                <td>
                    @Html.DisplayFor(route => item.Price)
                </td>
            </tr>
        }
    }
</table>
<div class="row">
    <div class="col-md-12">
        <div class="form-horizontal">
            <form action="@Url.Action( "Details_Ticket","Reports")" method="GET">
                <input type="submit" value="Побудувати новий звіт!" />
            </form>
        </div>
    </div>
</div>



