
@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
	ViewBag.Title = "Edit";
}

<h2>Зміна групи</h2>

@Html.ActionLink("Список груп", "Index") | @Html.ActionLink("Управління користувачами", "ManageUserRoles")
<hr />
@using (Html.BeginForm( new { @class = "form-horizontal", role = "form" }))
{
	@*@Html.AntiForgeryToken()*@
	@Html.ValidationSummary(true)
	@Html.HiddenFor(model => model.Id)
	<div class="form-group">
		@Html.Label("Назва групи", new { @class = "col-md-2 control-label" })	
		<div  class="col-md-10">
			@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-default" value="Зберегти" />
		</div>
	</div>
}
