
@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
	ViewBag.Title = "Index";
}

<h2>Список ролей </h2>

@Html.ActionLink("Додати нову роль", "Create") | @Html.ActionLink("Управління ролі користувача", "ManageUserRoles")
<hr />	

<div class="form-horizontal" style="width: 30%">
	@foreach (var role in Model)
	{
		<div style="margin-top: 14px">
			<strong class="form-control" style="margin-bottom: 5px" >@role.Name</strong>
			<span onclick="return confirm('Are you sure to delete?')"><a href="/Roles/Delete?RoleName=@role.Name" class="btn btn-default" style="color:red;">Видалити</a></span> 
			@Html.ActionLink("Редагувати", "Edit", new { roleName = @role.Name }, new { @class="btn btn-default"})
		</div>	
	}
</div>
