@model IEnumerable<Tickets_Bus.Models.BUS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name_Bus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number_Bus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num_Seats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_LastTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reliability)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name_Bus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number_Bus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num_Seats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_LastTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reliability)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Bus }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Bus }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Bus })
        </td>
    </tr>
}

</table>
