@model IEnumerable<Tickets_Bus.Models.Route_>

@*@{
    ViewBag.Title = "Рейси";
}*@

<h2>Рейси</h2>

<p>
    @Html.ActionLink("Створити", "Create")
</p>
<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.ID_Route)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.Date_departure)
        </th>
        <th>
           Станція Відправлення
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_arrival)
        </th>
        <th>
           Станція прибуття
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Driver.ID_bus)
        </th>
 
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Route)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_departure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Station1.Name_Station)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_arrival)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Station.Name_Station)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Driver.ID_bus)
        </td>

        <td>
            @Html.ActionLink("Редагувати", "Edit", new {id = item.ID_Route}) |
            @Html.ActionLink("Деталі", "Details", new {id = item.ID_Route}) |
            @Html.ActionLink("Видалити", "Delete", new {id = item.ID_Route})
        </td>
    </tr>
}

</table>
